.nodes circle {
    cursor: pointer;
    fill: #ff3399;
    stroke: #000;
    stroke-width: .5px;
}

.nodes circle.selected{
    cursor: pointer;
    fill: black;
    stroke: #000;
    stroke-width: .5px;
}

.links line {
    fill: none;
    stroke: #9ecae1;
    stroke-width: .5px;
}

.button_area{
    margin-top: 10px;
    margin-left: 15px;
}

.options li{
    margin-top: 5px;
}