<!DOCTYPE html>
<html>
  <head>
    <title>Graphland Q</title>
    <script type="text/javascript" src="./libs/d3.v4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="graph.css"/>
    <link rel="shortcut icon" href="./favicon.ico">
  </head>
  <body>
  <h1>Graphland with quantum computer</h1>
  <ul class="options">
      <li>algorithm:
        <select name="algorithm" id="algorithm" onchange="get_algorithm()">
            <option value="min_vertex_cover">min vertex cover</option>
            <option value="maximum_cut">maximum cut</option>
            <option value="maximum_independent_set">maximum independent set</option>
        </select>
      </li>
      <li>sampler:
        <select name="sampler" id="sampler" onchange="get_sample()">
            <option value="exact">exact</option>
            <option value="dwave">dwave</option>
        </select>
      </li>
   </ul>
    <div class="button_area">
        <button onclick="calculate()">run</button>
        <button onclick="clear_result()">clear</button>
    </div>
    <svg width="960" height="600"></svg>
    <script type="text/javascript" src="graph.js"></script>
  </body>
</html>